.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid {
  margin-left: 1%;
  margin-top: 1%;
}

@media (max-width: 1250px) {
  .App {
    flex-direction: column-reverse;
  }
  .grid {
    margin: 1% auto;
  }
}
